{% extends 'base.html.twig' %}

{% block title %}
	Edit user
{% endblock %}

{% block body %}
	<div class="shadow p-3 mb-5 bg-white rounded container mt-5">
		<div class="jumbotron text-center">
			<h1 class="display-4 mb-5">Edit user</h1>

			{{ form(userEditFormType) }}
		</div>
	</div>
{% endblock %}
