<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
      content="Bienvenue sur JusteUnRegard - Site de photographie - Ce que l'oeil humain ne perçoit pas, la photographie vous le révèlera." />
    <meta name="author" content="Ludovic" />

    <title>
      {% block title %}
        Juste un regard
      {% endblock %}
    </title>

    {% block stylesheets %}
    {% endblock %}
  </head>
  <body>
    {% include 'partials/partialsNavBar.html.twig' %}

    {% block body %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

    {% include 'partials/partialsFooter.html.twig' %}
  </body>
</html>
